@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
*{
  margin:0;
  user-select: none;
}
.app{
  overflow:hidden;
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #380036 40%, #0cbaba 10%); 
}

.app__header{
  display: flex;
  border-bottom: 3px solid #380036;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 80%, #380036 74%);
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 2rem;
  font-style: italic;
  font-family: 'Style Script', cursive;
  color: #47043d;
  z-index: -100;
}
